#include "dotfiles/base16.xresources"

URxvt*font: xft:Source Code Pro:size=13
URxvt*scrollBar: False
URxvt*scrollBar_right: True
URxvt*scrollstyle: rxvt
URxvt.letterSpace: 0
URxvt*termName: xterm-256color
xterm*faceName: Source Code Pro
xterm*faceSize: 16
