#include "dotfiles/base16.xresources"

URxvt*font: xft:Source Code Pro:size=11
URxvt*scrollBar_right: True
URxvt*scrollstyle: rxvt
URxvt.letterSpace: 0
xterm*faceName: Source Code Pro
xterm*faceSize: 18
